/* Base */

html {
  color: $base-font-dark-color;
  margin: 0 auto;
  padding: 0;
  font-family: $font-stack;
  font-size: 1em;
}
p {
  font-family: $font-base;
  color: $tertiary-color;
  font-size: 1.2rem;
}
h1 .main-title {
  font-family: $font-stack;
  font-size: 6em;
  color: $tertiary-color;
}

.hidden {
  display: none;
}
