/* Layout */

.bkg-color {
  background-color: $body-light;
}
.bkg-color-feature-2 {
  background-color: $body-dark;
  // border: 1px solid red;
}
.site-nav {
  // border-top: 4px solid $tertiary-color;
}
.by-line {
  font-size: 1.3em;
  color: $tertiary-color;
  margin-left: 10px;
}
.inline-navbar {
  list-style: none;
  li {
    display: inline-block;
    font-size: 1em;
    margin-right: 2em;
  }
}
header {
  padding: 12px;
  text-align: center;
  background-color: $secondary-color;
  margin-bottom: 5rem;
}
footer {
  height: 100px;
  width: 100%;
  background-color: $secondary-color;
  color: $base-font-light-color;
}
.upper-padding {
  padding-top: 5rem;
}
.wrapper {
  background-color: white;
}
.footer-nav {
  text-align: center;
  padding-top: 35px;
  color: $base-font-light-color;
  font-size: .7em;
}
