/* Module */

.feature__main-image {
  width: 98%;
  margin: 0px;
  border: 5px solid white;
}
.feature__title {
  font-weight: bold;
  font-size: 2em;
  margin: 10px 6px 8px 12px;
}
.feature__teaser {
  margin: 0px 6px 8px 12px;
  p & {
  margin-bottom: 5rem;
  }
}
.border-shadow {
  -moz-box-shadow:    0px 0px 1px 3px $tertiary-color;
  -webkit-box-shadow: 0px 0px 1px 3px $tertiary-color;
  box-shadow:         0px 0px 1px 3px $tertiary-color;
}
